.pastorder-full-container {
  position: absolute;
  /* margin-top: 60px;
  margin-left: 60px; */
  top: 3em;
  left: 5em;
}
.table-order-main-header {
  display: flex;
  justify-content: space-between;
  height: 3em;
  margin: 1em;
}
.table-create-search {
  margin-top: 0%;
  display: flex;
}
.search-bar {
  margin: 0.5em;
}
.orders-table-header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  background-color: #383737;
  padding:  1em;
  color: #ffffff;
}
.create-button {
  color: #5861ae;
  background-color: #ffffff;
  border: 1px solid #5861ae;
  width: 8em;
  height: 2em;
}
.details-container1 {
  width: 90vw;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  background-color: #eaedf0;
}
.details-container2 {
  width: 90vw;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
/* h4,
p {
  text-align: left;
} */
.details-container1>*{
  text-align: center;
  width: 128.2px;
}
.details-container2>*{
  text-align: center;
  width: 128.2px;
}
.orders-table-header>*{
  width:128.2px;
  text-align: center;

}